@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
}

/* transition */
.transition-fastest {
  @apply transition duration-150 ease-in-out;
}

.transition-fast {
  @apply transition duration-300 ease-in-out;
}

.transition-slow {
  @apply transition duration-700 ease-in-out;
}

.transition-extraslow {
  @apply transition duration-1000 ease-in-out;
}
